/* body{
     background: #396afc;
background: -webkit-linear-gradient(to bottom, #6980ff, #5e85fc);  
background: linear-gradient(to bottom, #2948ff, #396afc); 
}; */

.top-bar{
     height: 200px;
     background-color: rgb(80, 66, 206);
};


